
body{
    margin: 0;
    padding: 0;
    background-color: 
}

main{
    padding: 16px;
}

.scrumptious-recipes{
    color: rgb(224, 187, 228);
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}

img{
    height: 200px;
}

nav{
    color: black;
    background-color: #FF6F61;
    border-bottom-color: #FF6F61;
    border-bottom: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}




footer{
    padding: 15px;
    background-color: #FF6F61
    
}

#bulgogi{
    height: 200px;
    width: 200px;


}

#beef{
    height: 200px;
    width: 200px;
}


a{
    color: #A0D2EB
}

a:hover{
    color: #8458B3;
}




div{
    padding-bottom: 25px;
}

#vegetarian:hover{
    box-shadow: 0 2px 4px 2px;
}

#beef:hover{
    box-shadow: 0 2px 4px 2px;
}

#bulgogi:hover{
    box-shadow: 0 2px 4px 2px;
}

#chicken:hover{
    box-shadow: 0 2px 4px 2px;
}





.recipe-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (20, 50, 70);
}


.recipe{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (20, 50, 70);


}


#recipe1{
    grid-column-start: 1;
}

#recipe2{
    grid-column-start: 2;
}

#recipe3{
    grid-column-start: 3;
}

#recipe4{
    grid-column-start: 4;
}


.even:nth-child(even) {
    background-color: gray
}

.checked {
    color: orange;
  }


.gray-even tr:nth-child(even) {
    background-color: gray;
}
